<div class="container">
  <!-- <form class="form">
    <label class="form__label" for="search__input">Enter location</label>
    <input class="form__input" id="search__input" type="text" name="search__input" />

    <button class="form__btn" type="submit">Search</button>
  </form> -->

  <div class="info">
    <div class="wrapper">
      <div class="location"></div>
      <div class="date"></div>
      <span class="temp"></span>
      <div class="temp__weath"></div>
    </div>

    <div class="wrapper">
      <div class="temp__max"></div>
      <div class="temp__descr">High</div>
      <div class="temp__min"></div>
      <div class="temp__descr">Low</div>
      <div class="temp__min"></div>
      <div class="temp__descr">Low</div>
    </div>
  </div>

  <!-- <img class="img" src="#" alt="" width="20px" height="20px" /> -->
  <!-- <ul class="week"></ul> -->
</div>
