.info__wrapper {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper__info {
  text-align: center;
}

.city {
  font-weight: 700;
  font-size: 124px;
}

.date {
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 0.06em;
}

.temp__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp__icon {
  width: 200px;
  height: 100px;

  fill: #fff;
}

.temp {
  font-weight: 100;
  font-size: 124px;

  &::after {
    content: '°';
  }
}

.descr {
  font-weight: 100;
  font-size: 24px;
}

.extra__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.value {
  font-weight: 100;
  font-size: 48px;
}

.max,
.min,
.wind,
.sunrise,
.sunset,
.rain {
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 33.333%;
}

.form {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.form__label {
  font-size: 18px;
}

.form__input {
  width: 250px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.form__btn {
  font-size: 18px;
}
